<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="Board">
  
   	<insert id="insert" parameterType="bdto">
 		insert into h_board(b_writer, b_password, b_title, b_contents, b_date, b_hits, cate_number)
 			values(#{b_writer},#{b_password},#{b_title},#{b_contents}, now(), #{b_hits}, #{cate_number})
 	</insert>
  
   	<select id="findAll" resultType="bdto">
 		select * from h_board
 	</select>
 	
 	<select id="pagingList" parameterType="int" resultType="bdto">
		select * from h_board order by b_number desc limit #{pagingStart}, 3
	</select>
 	
 	
 		<select id="pagingList1" parameterType="java.util.HashMap" resultType="bdto">
		select * from h_board order by b_number desc limit #{start}, #{limit}
	</select>
	
		<select id="count" resultType="int">
		select count(b_number) from h_board
	</select>
	
	 	<select id="detail" parameterType="long" resultType="bdto">
 		select * from h_board where b_number=#{b_number}
 	</select>
 	
 		<update id="hits" parameterType="long">
 		update h_board set b_hits=b_hits+1 where b_number=#{b_number}
	</update>
	
			<delete id="delete" parameterType="long">
		delete from h_board where b_number=#{b_number}
	</delete>
	
	 		<update id="update" parameterType="bdto">
 		update h_board set b_title=#{b_title}, b_contents=#{b_contents}, b_date=now() where b_number=#{b_number}
	</update>
 	
 			<select id="search" parameterType="java.util.HashMap" resultType="bdto">
		select * from h_board			
		<include refid="sear"></include>
	</select>
	
		<sql id="sear">
		<choose>
			<when test="type=='b_title'">
				where b_title like concat('%', #{word}, '%') 
			</when>
			<when test="type=='b_writer'">
				where b_writer like concat('%', #{word}, '%') 
			</when>
		</choose>
	</sql>
	
	<select id="findCate" parameterType="int" resultType="bdto">
		select * from h_board where cate_number = #{cate_number}
	</select>
	
	<select id="catePagingList" parameterType="java.util.HashMap"
		resultType="bdto">
		select * from h_board where cate_number = #{cate_number}
		 order by b_number desc limit
		#{pagingStart}, 3
	</select>

	<select id="catePagingList1" parameterType="java.util.HashMap"
		resultType="bdto">
		select * from h_board where cate_number = #{cate_number}
		order by b_number desc limit
		#{start}, #{limit}
	</select>

<select id="cateBoardCount" parameterType="int" resultType="int">
		select count(b_number) from
		h_board where cate_number = #{cate_number}
	</select>
	
	
  </mapper>